<!-- bedrock-server-manager/bedrock_server_manager/web/templates/monitor.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>{{ app_name }} - Monitor Server</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='image/icon/favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='image/icon/favicon.svg') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/icon/favicon.ico') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='image/icon/apple-touch-icon.png') }}" />
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Monitoring Server: {{ server_name }}</h1>
        </header>

        <section class="monitor-section">
              <pre id="status-info">
                  Loading server status...
              </pre>
             <a href="{{ url_for('main_routes.advanced_menu_route') }}" class="action-link">Return</a>
        </section>
    </div>
    <script>
        var serverName = "{{ server_name }}";
    </script>
    <script src="{{ url_for('static', filename='js/monitor_usage.js') }}"></script>
</body>
</html>