<!-- bedrock-server-manager/bedrock_server_manager/web/templates/monitor.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monitor Server - Bedrock Server Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Monitoring Server: {{ server_name }}</h1>
        </header>

        <section class="monitor-section">
              <pre id="status-info">
                  Loading server status...
              </pre>
             <a href="{{ url_for('server_routes.advanced_menu_route') }}" class="action-link">Return</a>
        </section>
    </div>
    <script>
        var serverName = "{{ server_name }}";
    </script>
    <script src="{{ url_for('static', filename='js/monitor_usage.js') }}"></script>
</body>
</html>