<!-- bedrock-server-manager/bedrock_server_manager/web/templates/schedule_trigger.html -->
{% macro render_trigger_fields(trigger_num) %}
<div class="trigger-group" id="trigger-group-{{ trigger_num }}">
    <h3>Trigger {{ trigger_num }}</h3>
    <div class="form-group">
        <label for="trigger_type_{{ trigger_num }}" class = "form-label">Trigger Type:</label>
        <select id="trigger_type_{{ trigger_num }}" name="trigger_type_{{ trigger_num }}" class = "form-input" onchange="showTriggerFields({{ trigger_num }})">
            <option value="">-- Select Trigger Type --</option>
            <option value="TimeTrigger">One Time</option>
            <option value="Daily">Daily</option>
            <option value="Weekly">Weekly</option>
            <option value="Monthly">Monthly</option>
        </select>
    </div>

    <div id="trigger_fields_{{ trigger_num }}">
        <!-- Dynamic fields will be added here by JavaScript -->
    </div>
</div>
{% endmacro %}