<!-- bedrock-server-manager/bedrock_server_manager/web/templates/select_world.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ app_name }} - Select World</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Select World to Import for {{ server_name }}</h1>
        </header>

        <section class="select-world-section">
            {% if world_files %}
                <form action="{{ url_for('server_routes.install_world_route', server_name=server_name) }}" method="post">
                    <table class="server-table">
                      <thead>
                        <tr>
                          <th>World Name</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                    <tbody>
                    {% for world_file in world_files %}
                        <tr>
                            <td>{{ world_file|basename }}</td>
                            <td><button type="submit" name="selected_file" value="{{ world_file }}" class="action-link">Import</button></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                    <a href="{{ url_for('server_routes.index') }}" class="action-link">Cancel</a>
                </form>
            {% else %}
                <p>No world files (.mcworld) found in the content directory.</p>
                <a href="{{ url_for('server_routes.index') }}" class="action-link">Back to Main Menu</a>
            {% endif %}
        </section>
    </div>
</body>
</html>